@media(max-width: 1024px) {
    .browse {
        display: none;
    }
    .bottom-header-menu {
        display: none;
    }
    
}
@media(min-width: 1024px) {

.browse {
    display: flex;
}
.bottom-header-menu {
    display: flex;
}
}

@media(max-width: 1000px) {
    .header-container  {
        padding: 0px 35px;
    }
    .terms {
        display: none;
    }
    .shopping{
        display: flex;
    }
    
   
   .main-container {
    padding: 0px 35px;
   }
   .check-boxes  {
    display: none;
}
.keep-touch {
    display: none;
}
.footer-container {
    padding: 50px 35px;
}
    
}
@media(max-width: 965px) {
    
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
}
@media(min-width: 965px) {
    
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1rem;
    }
    .footer-logo  {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width: 565px) {
    
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
    .header-logo {
        width: 2rem;
    }
    .logo-text  {
        font-size: 15px;
    }
    .header-container  {
        padding: 0px 25px;
    }
}
@media(max-width: 365px){
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media(max-width: 767px) {
    .register {
        display: none;
    }
    .cart {
        display: none;
    }
    .shopping-icon {
        padding-right: 0px;
    }
    .footer-logo {
        display: block;
    }
    .footer-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .support {
        width: 200px;
    }
}
@media(min-width: 767px) {
    .support {
        width: 150px;
    }
    .keep-touch {
        width: 200px;
    }
    .shopping-icon {
        padding-right: 15px;
    }
}
@media(min-width: 1000px) {
    .header-container  {
        padding: 0px 64px;
    }
    .main-container {
        padding: 0px 64px;
    }
    .footer-container {
        padding: 50px 64px;
    }
    .terms {
        display: flex;
    }
    .side-menu {
        display: none;
    }
    .shopping{
        display: none;
    }
   
    
    .category-down-search {
        display: flex;
    }
    
    
    
   
}    
